h1 {
  text-align: center;
  font-size: 1em;
  color: rgb(255, 255, 255);
  margin-bottom: .3em;
}

p {
  text-align: center;
  color: #ffffff;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
.centered-1{

  text-align: center;
}
.centered-2{

  text-align: center;
}
body {
  background-color: #1d1919;
}
i {
  color: #ffffff;
  display: block;
  text-align: center;
}